@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}


/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

.geist-mono-font {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
